body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.principal-container h1{
  text-align: center;
  margin-bottom: 50px;
}

.card-container{
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.card-container ul{
  padding: 0px;
  margin: 0px;
  width: 600px;
  display: inline-flex;
  flex-wrap: wrap;
}
.card-container ul li{
  list-style: none;
  width: 150px;
  height: 150px;
  margin: 20px 20px;
}

.card-container ul li img{
  width: 100%;
}
