body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.principal-container{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.principal-container h1{
  text-align: center;
  margin-bottom: 50px;
}

.card-container{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container ul{
  padding: 0px;
  margin: 0px;
  width: 600px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.card-container ul li{
  list-style: none;
  width: 150px;
  height: 150px;
  margin: 20px 20px;
  box-shadow: 6px 6px 12px 6px rgba(0,0,0,0.75);
}

.card-container ul li img{
  width: 100%;
}

.card-container div button{
  padding: 8px 14px;
  border: 2px black solid;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  border-radius: 5px;
}
.card-container div button:hover{
  border: 2px gray solid;
  background-color: black;
  color: white;
}
